<div class="jumbotron jumbotron-fluid animated fadeIn">
    <div class="container">
        <h1 class="display-5">Proyectos</h1>
        <p class="lead"></p>
    </div>
</div>

<div class="card-columns">

    <div class="card">
        <img class="card-img-top img-fluid" src="../../../assets/img/veus-textil-sabadell.jpg" alt="les-veus-del-textil">
        <div class="card-body">
            <h5 class="card-title">Les veus del tèxtil (Las voces del textil)</h5>
            <p class="card-text">"Les veus del textil" es un proyecto del Gremi de Fabricants, Ajuntament de Sabadell y Fundació Bosch i Cardellach que se centraba en recojer y salvaguardar la memoria del pasado textil de la ciudad.</p>
            <p class="card-text"><small class="text-muted">2012</small></p>

            <button type="button" class="btn btn-outline-dark btn-block">Seguir leyendo...</button>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top img-fluid" src="../../../assets/img/capsule-corp.jpg" alt="default-image">
        <div class="card-body">
            <h5 class="card-title">Capsule Corp, ERP</h5>
            <p class="card-text">Proyecto final del bootcamp de programación web.</p>
            <p class="card-text"><small class="text-muted">2020</small></p>

            <button type="button" class="btn btn-outline-dark btn-block">Seguir leyendo...</button>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top img-fluid" src="../../../assets/img/portada_labans_sabadell_249_2.png" alt="default-image">
        <div class="card-body">
            <h5 class="card-title">L'Abans Sabadell, 1864-1968</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">2018</small></p>

            <button type="button" class="btn btn-outline-dark btn-block">Seguir leyendo...</button>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top img-fluid" src="../../../assets/img/oriol-canades-logo.png" alt="default-image">
        <div class="card-body">
            <h5 class="card-title">Oriol Canadés, Web Personal</h5>
            <p class="card-text">Proyecto para la creación de una página web personal.</p>
            <p class="card-text"><small class="text-muted">2020</small></p>

            <button type="button" class="btn btn-outline-dark btn-block">Seguir leyendo...</button>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top img-fluid" src="../../../assets/img/alfred-logo.png" alt="default-image">
        <div class="card-body">
            <h5 class="card-title">Alfred, Aplicación Web</h5>
            <p class="card-text">Alfred es un proyecto de aplicación web diseñado para tener un mayor control sobre las finanzas personales.</p>
            <p class="card-text"><small class="text-muted">2020</small></p>

            <button type="button" class="btn btn-outline-dark btn-block">Seguir leyendo...</button>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top img-fluid" src="../../../assets/img/default-image.jpg" alt="default-image">
        <div class="card-body">
            <h5 class="card-title">Card title 4</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

            <button type="button" class="btn btn-outline-dark btn-block">Seguir leyendo...</button>
        </div>
    </div>



</div>