<div class="jumbotron jumbotron-fluid animated fadeIn">
    <div class="container">
        <h1 class="display-5">Algunos datos sobre mi.</h1>
        <p class="lead"> Aunque este apartado reciba el título de 'Currículum', no se trata de uno como tal. Mi idea es la de representar todas las cosas que he hecho, estudiado o en las que he participado de algun modo y que para mí son relevantes.<br><br>Como vereis
            a continuación, se muestran unas etiquetas, si hacéis click en una de ellas, la página os mostrará la información solicitada.<br><br>¿Por qué decidí hacerlo así? Básicamente porque entiendo que cada persona tiene unos intereses diferentes
            hacia una persona y de esta manera el CV resultante se adaptaba a la perfección a lo que buscaba el solicitante quedando así un curriculum o compendio de datos dinámico y adaptable a cualquier persona. Al final de la página tienes un botón
            para descargar la información en pdf.</p>
    </div>
</div>