* {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.navbar {
    background: #1c4966;
    color: #ffffff;
    font-size: 20px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

ul {
    list-style: none;
}

.fas {
    color: #515C5D;
}

.card {
    margin-top: 10px;
    background-color: #BEBEBE;
    font-family: 'Montserrat', sans-serif;
    color: #515C5D;
}