<div class="jumbotron jumbotron-fluid animated fadeIn">
    <div class="container">
        <h1 class="display-5">Blog personal</h1>
        <p class="lead"></p>
    </div>
</div>

<div class="card-columns">

    <div class="card">
        <img class="card-img-top img-fluid" src="../../../assets/img/blog-fluir.png" alt="fluir">
        <div class="card-body">
            <h5 class="card-title">.fluir()</h5>
            <p class="card-text">Fluir es...</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top img-fluid" src="../../../assets/img/default-image.jpg" alt="default-image">
        <div class="card-body">
            <h5 class="card-title">Card title 2</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top img-fluid" src="../../../assets/img/blog-mi-historia.jpg" alt="mi-historia">
        <div class="card-body">
            <h5 class="card-title">node run reorientarse.js</h5>
            <p class="card-text"></p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top img-fluid" src="../../../assets/img/default-image.jpg" alt="default-image">
        <div class="card-body">
            <h5 class="card-title">Card title 4</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top img-fluid" src="../../../assets/img/default-image.jpg" alt="default-image">
        <div class="card-body">
            <h5 class="card-title">Card title 5</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top img-fluid" src="../../../assets/img/default-image.jpg" alt="default-image">
        <div class="card-body">
            <h5 class="card-title">Card title 6</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>

</div>