<div class="jumbotron jumbotron-fluid animated fadeIn">

    <div class="container">
        <h1 class="display-5">Bienvenid@ a mi espacio personal,</h1>
        <br>
        <p class="lead">A lo largo de esta web encontrarás algunos datos acerca de quién soy, qué he estudiado o hecho así como una colección de los proyectos que he desarrollado o participado a lo largo de mi carrera professional en distintas disciplinas. <br><br> Además,
            he creado un blog personal dónde escribo sobre mis intereses. Siéntate libre de navegar por la página.</p>
        <br>
    </div>

</div>